








.form-header {
    display: flex; flex-direction: column; align-items: center;
    gap: 1rem;
    &-icon {
        font-size: 5rem;
    }
    &-title {
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
    }
}
.form-content {
    display: flex; flex-direction: column;
    gap: 1rem;
}
.form-wrapper {
    display: flex; flex-direction: column;
}
.form-label {
    font-weight: bold;
}
.form-control {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: $white;
    border: 1px solid $gray-800;
    color: $black;
    font-size: 1.2rem;
    text-align: left;
}
.form-check {
    display: flex; justify-content: stretch; align-items: center;
    gap: 1rem;
    &-label {
        flex-grow: 1;
    }
}
.form-submit {
    font-size: 1.1rem;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: $white;
    border: 1px solid $primary-500;
    text-align: center;
    color: $primary-500;
    font-weight: bold;
    font-size: 1rem;
    transition: all .3s linear;
    &:not([disabled]) {
        cursor: pointer;
    }
    &:hover:not([disabled]) {
        background-color: $gray-200;
        border: 1px solid $primary-600;
        color: $primary-600;
    }
    &-primary {
        background-color: $primary-400;
        border: 1px solid $primary-400;
        color: $white;
        &:hover:not([disabled]) {
            background-color: $primary-600;
            border: 1px solid $primary-600;
            color: $white;
        }
    }
}